# ==== Основное окружение ====
PORT=3001
ENV_TYPE=development
BASE_URL=http://localhost:3001

# ==== Email ====
EMAIL_SEND_DISABLED=false
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_CONFIRM_BASE_URL=http://localhost:3001/api/v1/auth

# Gmail SMTP Configuration
GMAIL_USER=""
GMAIL_APP_PASSWORD=""

# ==== JWT ====
JWT_SECRET=my_super_secret_key
JWT_REFRESH_SECRET=my_refresh_secret_key
JWT_ACCESS_EXPIRATION_TIME=2m
JWT_REFRESH_EXPIRATION_TIME=7d

# JWT_ACCESS_EXPIRATION_TIME=5м..10m
# JWT_REFRESH_EXPIRATION_TIME=7d..30d

# ==== CAPTCHA ====
CAPTCHA_SECRET=local-secret

# ==== Google OAuth ====
GOOGLE_CLIENT=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

# ==== GitHub OAuth ====
GITHUB_CLIENT=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=http://localhost:3001/api/v1/auth/oauth/github/callback

# ==== Storage Microservice ====
STORAGE_TCP_HOST=localhost
STORAGE_TCP_PORT=3830

STRIPE_SECRET=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx

# ==== PostgreSQL ====
DATABASE_URL="postgresql://postgres:farabek@localhost:5432/photer"

# Frontend
FRONTEND_URL="http://localhost:3000"
